html
	head
		link(rel='stylesheet', href="/css/application.css")
	body
		nav(class="navbar navbar-light bg-faded")
			if user

				a(class="navbar-brand" href="/challenges") Home
				a(class="navbar-brand" href="/") New
				a(class="navbar-brand" href="/logout") Logout
			else
				a(class="navbar-brand" href="/") Chainz


			//- a(href="/logout" class="btn btn-success float-xs-right") logout
		block content
		script(src='/js/application.js')
