html
	head
		link(rel='stylesheet', href="/css/application.css")
	body
		if user
			nav(class="navbar navbar-fixed-top navbar-dark bg-inverse")
				ul.nav.navbar-nav
					li.nav-item.active
						a(class="navbar-link-primary" href="/challenges")= 'Welcome ' + user.name + '!'
					li.nav-item
						a(class="navbar-link" href="/") New
					li.nav-item
						a(class="navbar-link" href="/logout") Logout
		else
			nav(class="navbar navbar-fixed-top navbar-dark bg-inverse")
				a(class="text-primary" href="/challenges") Chainz
		block content

		script(src='/js/application.js')
