html
  head
    link(rel='stylesheet', href="/css/application.css")

  body
    br
    br
    .container-fluid
      .row
        .col-md-6.offset-md-3
          h1  Chainz Test Zone
          hr
          p: h3  5 day static test
      .row
        .col-md-8.offset-md-2
          .col-md-2
            .username: h1 user
          .col-md-2
            .checker: h1 x
          .col-md-2
            .checker: h1 x
          .col-md-2
            .checker: h1 x
          .col-md-2
            form(action="/checkers" id="checkerForm" method="POST")
              button(type='submit' class="ghost-btn")
                #today.checker
                  h1.todaymargin|x
          .col-md-2
            .checker: h1 x

  script(src='/js/application.js')
