html
  head
    link(rel='stylesheet', href="/css/application.css")
  body
    br
    br
    .container
      .challenge-name: h4 Super Mega Challenge
      .chainz-layout
        .chainz-col
          .checker-grid
            .checker-row
              #topleftcorner.username.top: h5.truncate Biggie
              .checker.top: h1 x
              .checker.top: h1 x
              .checker.top: h1 x
              form(action="/checkers" id="checkerForm" method="POST" style=" display:inline!important;")
                button(type='submit' class="ghost-btn")
                  #today.checker.top
                    h1 x
              .checker.top: h1
            .checker-row
              #bottomleftcorner.username.bottom: h5.truncate Tupac
              .checker.bottom: h1 x
              .checker.bottom: h1 x
              .checker.bottom: h1 x
              form(action="/checkers" id="checkerForm" method="POST" style=" display:inline!important;")
                button(type='submit' class="ghost-btn")
                  #today.checker.bottom
                    h1 x
              .checker.bottom: h1
        .chainz-col
          .pot: h1 €80



    script(src='/js/application.js')
