.box {
  width: 100px;
  height: 90px;
  padding-left: 18px;
  border-style: solid;
  border-width: 20px;
  border-color: white;
  background-color: #ffff99;
}

#today.box {
  background-color: #ffcccc;
}

#today.box:hover {
  background-color: #ffff99;
}

#today.box:active {
  background-color: #ccff99;
}
