.checker, .ghost-btn {
  width: 90px;
  height: 82px;
  display: inline-block;
  margin: 0px;
  padding-left: 19px;
  border-style: solid;
  border-width: 15px;
  border-color: white;
  background-color: #ffff99;
}

#today.checker {
  background-color: #ffcccc;
  color: #ffcccc;
}

#today.checker:hover {
  background-color: #ffcccc;
  color: #fff;
}

#today.checker:active {
  background-color: #ccff99;
  color: #000;
}

.todaymargin {
  margin-left: -19px;
}

.ghost-btn {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.ghost-btn:focus {
  outline:0px;
}
