$checker-width: 90px;
$checker-height: 82px;

table {
  border-collapse: collapse;
}

td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 2px solid black;
  padding: 15px;
  background-color: #fff;
}

.checker {
  width: $checker-width;
  background-color: #ffff99;
}

#today {
  width: $checker-width;
  background-color: #ffcccc;
  color: #ffcccc;
}

#today:hover {
  background-color: #ffcccc;
  color: #fff;
}

#today:active {
  background-color: #ccff99;
  color: #000;
}

.ghost-btn {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.ghost-btn:focus {
  outline:0px;
}

#checkerForm {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}
