.cz-vertical-align {
  display: flex;
  flex-direction: row;
}

.cz-vertical-align > [class^="col-"],
.cz-vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}
