extends ../application.pug
block content
	.jumbotron.jumbotron-fluid
		.container
			.row
				.col-md-10.offset-xs-2
					.col-md-4
						h1(class="display-2") chainz
						hr
						p(class="lead")= 'Hello ' + participant.email + '! You have have been invited to participate in… ' + challenge.name + '.'
					.col-md-6
						form(action="/challenges/" + challenge.id method="POST")
							input(type="hidden" name="participant[id]" value=participant.id)
							input(type="hidden" name="challenge[id]" value=challenge.id)
							.form-group
								input(type="text" class="form-control"  id="name" name="participant[name]" placeholder="What's your first name?" required)
							.form-group
								input(type="text" class="form-control"  id="task" name="task[name]" placeholder="Whats a thing you never do but should?" required)
							.form-group
								input(type="password" class="form-control" id="password" name="participant[password]" placeholder="Pick a password darling")
							button(type="submit" class="btn btn-primary") Accept challenge!
