extends ../application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-4
				if challenges
					h2 Chainz
					each challenge in challenges
						h5= challenge.name
				else
					h3 ...Oh la La!
					h5 Looks like you have no
					h5 challenges, lets createTable
					h5 a new one!
					a(class="btn btn-primary" href="/challenges/new" role="button") Create a new challenge
