extends ../application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-2
				form(action="/challenges" method="POST")
					.form-group
						label(for="name of challenge")  Name of challenge
						input(type="text" class="form-control" id="name of challenge" name="challenge[name]" required)
					.form-group
						label(for="pot")  Amount of bet
						input(type="number" class="form-control" id="pot" name="challenge[pot]" required)
					.form-group
						label(for="days") Numbers of Days
						input(type="number" class="form-control"  id="days" name="challenge[numberOfDays]" required )
					.form-group
						label(for="email")  Email of participant
						input(type="email" class="form-control" id="email"  name="participant[email]" required )
					.form-group
						label(for="task") What is your task?
						input(type="text" class="form-control"  id="task" name="task[name]" required)
					button(type="submit" class="btn btn-success") Create challenge
