extends ../application.pug
block content
  .container
    .row
      .col-xs-8.offset-xs-1
        table.cz-challenge-table
          thead
            tr
              td(colspan="7"): h5= dataStructure.name
          tbody
            tr
              td: h5= dataStructure.tasks[0].owner.name
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-today")
                form(action="/checkers" id="checkerForm" method="POST")
                  //- input(type="hidden" name="_method" value="PUT")
                  button(type='submit' class="ghost-btn")
                    h1 x

              td(rowspan="2" class="cz-challenge-table-unchecked"): h1 x
              td(rowspan="4"): h1 pot
            tr
              td: h6= dataStructure.tasks[0].name
            tr
              td: h5= dataStructure.tasks[1].owner.name
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-checked"): h1 x
              td(rowspan="2" class="cz-challenge-table-today")
                form(action="/checkers" id="checkerForm" method="POST")
                //- input(type="hidden" name="TaskId" id="TaskId" value= checker.TaskId)
                button(type='submit' class="cz-checker-table-today")
                  h1 x
              td(rowspan="2" class="cz-challenge-table-unchecked"): h1 x
              tr
                td: h6=dataStructure.tasks[1].name
