extends ../application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-2
				h2 Challgenge sent!
				hr
				h5
					|	Now let's wait and see if
					| your friends has the courage
					| to accept your challenge.
					| If so you will be notified
					| in an email.
				a(href="/challenges" class="btn btn-success float-xs-right") home
