extends ../application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-2
				h2 ......OOOOhh
				hr
				h5 Now let's wait and see if
				h5 your friends has the courage
				h5 to accept your challenge.
				h5 If so you will be notified
				h5 in an email.
				form(action="/checkers" method="POST")
					button(type="submit" class="btn btn-success") Ok, got it!
