extends ../application.pug
block content
	.jumbotron.jumbotron-fluid
		.container
			.row
				.col-md-10.offset-xs-2
					.col-md-6
						h1(class="display-2") chainz
						hr
						p(class="lead") Motivation simply does not work for getting things done. However pain, fear and shame does.
					.col-md-4
						form(action= "/users" method= "POST")
							.form-group
								input(type="text" class="form-control" id="name" name="name" placeholder="First name")
							.form-group
								input(type="text" class="form-control" id="surname" name="surname" placeholder="Last name" )
							.form-group
								input(type="email" class="form-control" id="email" name="email" placeholder="Email")
							.form-group
								input(type="password" class="form-control" id="password" name="password" placeholder="Password")
							button(type="submit" class="btn btn-primary btn-block") Register
							hr
							a(href="/login" class="text-primary")
								p(class="text-md-center"): |I'm already signed up!
